.header {
    display: flex;
    align-items: center
}

.header h3 {
    padding: 0;
    margin: 0;
}

.header img {
    width: 30px;
    margin: 0 12px;
}

.menulist ul {
    display: flex;
    justify-content: space-around;
    margin: 0px 0 10px 0;
}

.menulist button {
    outline: none;
}

.menulist li {
    list-style-type: none;
}

.menulist li.active h4 {
    border-bottom: 2px solid pink;
}

.menulist h4 {
    margin: 0;
    padding: 8px 0;
    cursor: pointer;
}

.gif {
    box-shadow: 0 40px 100px rgba(0,0,0,.2);
}

.imgContainer {
    margin: 0 auto;
    text-align: center;

}

.markdown {
    margin: 10px 8px;
    padding: 8px;
}

.featuredButton {
    border: 0;
    background: none;
    padding: 0;
    margin: 0;
}

.featureDescription {
    text-align: center;
    margin-bottom: 16px;
}